{% extends 'base.html.twig' %}

{% block search %}{% endblock %}

{% block carousel %}{% endblock %}

{% block content %}

    <h3>Nos meilleures ventes</h3>
    <p>Découvrez les articles les plus vendus.</p>
    <div class="row">
        {% for product in products %}
            <div class="col-md-3">
                {% include 'product/single_product.html.twig' %}
            </div>
        {% endfor %}
    </div>

    <h3 id="texteFaites">Personnalisé votre peinture</h3>
    <p>Faites votre choix</p>



  <div class="container px-4 py-5" id="custom-cards">

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col"  id="espasecol">
      <div class="card card-cover h-100 overflow-hidden  rounded-5 shadow-lg" id="red" >
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1" id="bombe" style="background-image:url('{{ asset('assets/img/bombe5.png') }}')">
              <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" id="textepeinture">Offrez une nouvelle vie à votre voiture avec nos bombes</h2>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src={{asset('assets/img/bombe2.png')}} alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                <small></small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2 black" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col"  id="espasecol">
        <div class="card card-cover h-100 overflow-hidden  rounded-5 shadow-lg" >
<div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1" id="stylo" style="background-image:url('{{ asset('assets/img/pots9.png') }}');background-repeat: no-repeat; background-size: cover;">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" id="textepeinture">Choisissez la quantité de peinture selon votre surface à peindre.</h2>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src={{asset('assets/img/pots.png')}} alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                <small></small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <small></small>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col"  id="espasecol">
        <div class="card card-cover h-100 overflow-hidden   rounded-5 shadow-lg"  >
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1" id="stylo" style="background-image:url('{{ asset('assets/img/stylo1.png') }}')">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" id="textepeinture">Faites disparaitre efficacement les fines rayures. Une retouche efficace qui fera plaisir. </h2>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src={{asset('assets/img/stylo11.png')}} alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                <small></small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <small></small>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


<h3 id="texteFaites">Promo</h3>

  <section id="tranding">
      <div class="container">
        <h3 class="text-center section-subheading">-Découvrez les articles les plus vendus -</h3>
        <h1 class="text-center section-heading">Nos produits</h1>
      </div>
      <div class="container">
        <div class="swiper tranding-slider">
          <div class="swiper-wrapper">

           {% for product in products %}
            <!-- Slide-start -->
            <div class="swiper-slide tranding-slide">
              <div class="tranding-slide-img">
               <a href={{ path('product', {'slug': product.slug})}}> <img src="/uploads/{{ product.illustration }}" alt="Tranding"><a>
              </div>
              <div class="tranding-slide-content">
                <h1 class="food-price">{{product.price}}</h1>
                <div class="tranding-slide-content-bottom">
                  <h2 class="food-name">
                    {{product.name}}
                  </h2>
                  <h3 class="food-rating">
                    <span>4.5</span>
                    <div class="rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </div>
                  </h3>
                </div>
              </div>
            </div>
            <!-- Slide-end -->
            {% endfor %}

          </div>

          <div class="tranding-slider-control">
            <div class="swiper-button-prev slider-arrow">
              <ion-icon name="arrow-back-outline"></ion-icon>
            </div>
            <div class="swiper-button-next slider-arrow">
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </div>
            <div class="swiper-pagination"></div>
          </div>

        </div>
      </div>
    </section>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="script.js"></script>
   
{% endblock %}
{% block script %}
<script>
var TrandingSlider = new Swiper('.tranding-slider', {
  effect: 'coverflow',
  grabCursor: true,
  centeredSlides: true,
  loop: true,
  slidesPerView: 'auto',
  coverflowEffect: {
    rotate: 0,
    stretch: 0,
    depth: 100,
    modifier: 2.5,
  },
  pagination: {
    el: '.swiper-pagination',
    clickable: true,
  },
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  }
});
</script>
{% endblock %}