{% extends 'base.html.twig' %}

{% block content %}
{# <div class="loader_Page">
<div class="loader"> </div>
<p id="loader_pagee">Loading ...</p>
</div> #}
<div class="labo1">
  <h3 id="titre-labo1">Installation de Laboratoires de Peinture Automobile par Peinture Auto Expert</h3>
  <p id="sous-titre-labo1">Bienvenue chez Peinture Auto Expert, votre partenaire de confiance pour la conception et l'installation de laboratoires de peinture automobile. Nous sommes fiers de collaborer avec Mipa, leader dans le domaine des peintures et vernis, pour vous fournir des solutions complètes et innovantes pour votre atelier.</p>
        <div class="row">
            <div class="col-md-6">
                <!-- Cadre 1 -->
                    <div class="cardlabo"><img class="img-mipa" src={{asset("assets/img/mip.jpg")}}></div>
            </div>
            <div class="colMargin col-md-6">
                <!-- Cadre 2 -->
                    <div class="titre-labo1">
                            <div class="three-body">
                            <div class="three-body__dot"></div>
                            <div class="three-body__dot"></div>
                            <div class="three-body__dot"></div>
                            </div>
                            <span>Mipa</span>
                    </div>
                    <div class="labo-title2">
                            <h3 class="font-weight-semibold line-height-1_4 mb-4" >Exploration de <b style="color:#014e9e">l'Excellence Automobile</b> </h3>
                    </div>

                    <p class="content-labo1">
                            Mipa SE est une entreprise familiale de renom dans le domaine des peintures et vernis, particulièrement reconnue dans la réparation automobile. Basée à Essenbach, en Allemagne, elle propose une gamme variée de peintures pour la réparation automobile, ainsi que des systèmes complets pour les professionnels du secteur. En partenariat avec des distributeurs, Mipa fournit des solutions de qualité adaptées aux besoins spécifiques de ses clients. Son engagement envers l'innovation et l'amélioration continue lui permet de maintenir sa position de leader sur le marché automobile.
                    </p>
                    <div class="titre-labo1">
                            <img src={{asset("assets/img/outil.png")}} class="cart-icon">
                            <span id="allemagne">Allemagne</span>
                    </div>
                    <a href="https://www.mipa-paints.com/fr/" target="_blank"><button class="button-labo">Voir le site<img src={{asset("assets/img/voir1.png")}} class="cart-icon"></button></a>
            </div>
        </div>
</div>


<div class="labo2">

        <div class="row">
            <div class="col-md-6">
                    <div class="titre-labo1">
                            <div class="three-body">
                            <div class="three-body__dot"></div>
                            <div class="three-body__dot"></div>
                            <div class="three-body__dot"></div>
                            </div>
                            <span>Labo</span>
                    </div>
                    <div class="labo-title2">
                            <h3 class="font-weight-semibold line-height-1_4 mb-4" >Installation Complète de Laboratoires de <b style="color:#014e9e">Peinture Automobile</b> </h3>
                    </div>
                    <p class="content-labo1">Nos experts vous accompagnent dans l'installation de laboratoires de peinture automobile de A a Z, conçus pour répondre aux exigences les plus élevées de votre métier. Que vous ayez besoin d'un nouvel équipement ou de moderniser votre installation existante, nous sommes là pour vous aider.                    </p>
                    <ul>
                    <li><img class="cart-icon" src={{asset("assets/img/valider.png")}}>Installation clé en main</li>
                    <li><img class="cart-icon" src={{asset("assets/img/valider.png")}}>Expertise sur mesure</li>
                    <li><img class="cart-icon" src={{asset("assets/img/valider.png")}}>Qualité garantie</li>
                    </ul>
            </div>
            <div class="col-md-6">
                <!-- Cadre 1 -->
                    <div class="cardlabo"><img class="img-labo" src={{asset("assets/img/labo.jpg")}}></div>
            </div>
        </div>
</div>

<div class="labo3">
         <div class="row">
            <div class="col-md-6">
                <!-- Cadre 1 -->
                    <div class="cardlabo"><img class="img-mipa" src={{asset("assets/img/mip.jpg")}}></div>
            </div>
            <div class="colMargin col-md-6">
                <!-- Cadre 2 -->
                    <div class="titre-labo1">
                            <div class="three-body">
                            <div class="three-body__dot"></div>
                            <div class="three-body__dot"></div>
                            <div class="three-body__dot"></div>
                            </div>
                            <span>Offre</span>
                    </div>
                    <div class="labo-title2">
                            <h3 class="font-weight-semibold line-height-1_4 mb-4" >Besoin d'un <b style="color:#014e9e">Équipement</b> de Laboratoire ?</h3>
                    </div>

                    <p class="content-labo1">
                            Vous cherchez à équiper ou moderniser votre laboratoire de peinture automobile ?    
                            <ul id="labo3-liste">
                            <li><img class="cart-icon" src={{asset("assets/img/valider.png")}}>Notre pack inclut tous les éléments essentiels pour démarrer ou améliorer votre laboratoire de peinture.</li>
                            <li><img class="cart-icon" src={{asset("assets/img/valider.png")}}>Profitez d'un système de peinture de haute qualité, d'un logiciel de mélange précis et d'un spectromètre pour des résultats impeccables à chaque fois.</li>
                            <li><img class="cart-icon" src={{asset("assets/img/valider.png")}}>Notre équipe d'experts vous guide dans l'installation et la mise en service de votre équipement, assurant un démarrage sans souci.</li>
                            </ul>                 
                            </p>
                    <div class="titre-labo1">
                            <img src={{asset("assets/img/outil.png")}} class="cart-icon">
                            <span id="allemagne">Ile-de-France, France</span>
                    </div>
                    <a href="https://www.mipa-paints.com/fr/" target="_blank"><button class="button-labo">Demander un devis</button></a>
            </div>
        </div>

</div>

<div class="labo4">

        <div class="row">
            <div class="col-md-6">
                    <div class="titre-labo1">
                            <div class="three-body">
                            <div class="three-body__dot"></div>
                            <div class="three-body__dot"></div>
                            <div class="three-body__dot"></div>
                            </div>
                            <span>Techno</span>
                    </div>
                    <div class="labo-title2">
                            <h3 class="font-weight-semibold line-height-1_4 mb-4" >A propos de notre logiciel de mélange<b style="color:#014e9e">logiciel de mélange</b> </h3>
                    </div>
                    <p class="content-labo1">Le logiciel de mélange inclus simplifie le processus de création de peinture. Il permet de sélectionner les couleurs, ajuster les proportions et obtenir des formules précises facilement. De plus, il offre la gestion des stocks, la création de rapports et une compatibilité avec les spectrophotomètres pour une précision maximale. Ce logiciel garantit des résultats de qualité supérieure avec une efficacité accrue.</p>
                    <ul>
                    <li><img class="cart-icon" src={{asset("assets/img/valider.png")}}>Interface intuitive</li>
                    <li><img class="cart-icon" src={{asset("assets/img/valider.png")}}>Base de donnée complète </li>
                    <li><img class="cart-icon" src={{asset("assets/img/valider.png")}}>Gestion de stock</li>
                    <li><img class="cart-icon" src={{asset("assets/img/valider.png")}}>Correction de teinte </li>

                    </ul>
            </div>
            <div class="col-md-6">
                <!-- Cadre 1 -->
                    <div class="cardlabo"><img class="img-labo" src={{asset("assets/img/logiciel.png")}}></div>
            </div>
        </div>
</div>


<hr>

<div class="form-container">
      <form class="form">
        <div class="form-group">
          <label for="email">Company Email</label>
          <input required="" name="email" id="email" type="text">
        </div>
        <div class="form-group">
          <label for="textarea">How Can We Help You?</label>
          <textarea required="" cols="50" rows="10" id="textarea" name="textarea">          </textarea>
        </div>
        <button type="submit" class="form-submit-btn">Submit</button>
      </form>
    </div>



{% endblock %}