  
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
          aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
           {% for menu in categories %}
    <li class="nav-item dropdown position-static">
        <a class="navbar-brand" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
            {{ menu.name }}
        </a>
        <!-- Dropdown menu -->
        <div class="dropdown-menu w-100 mt-0" aria-labelledby="navbarDropdown" style="
              border-top-left-radius: 0;
              border-top-right-radius: 0;
            ">
            <div class="container">
                <div class="row my-4">
                    {% for smenu in Scategories %}
                    
                        {%  if smenu.categoryID.id == menu.id %}

                            <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                                <div class="list-group list-group-flush">
                                    <a href="" class="list-group-item list-group-item-action">
                                                <a href={{ path('productsInSCategory', {'id': smenu.id}) }} class="list-group-item list-group-item-action ml-3">
                                                    {{ smenu.name}}
                                                </a>                                    </a>
                                      <div class="list-group" id="subSubMenu{{ smenu.id }}">
                                        {% for ssmenu in SScategories %}
                                            {% if ssmenu.IdsousCategory.id == smenu.id %}
                                                <a href={{ path('productsInCategory', {'id': ssmenu.id}) }} class="list-group-item list-group-item-action ml-3">
                                                    {{ ssmenu.name}}
                                                </a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </li>
{% endfor %}

          </ul>
          <div class="d-flex align-items-center">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {# <li class="nav-item active">
                <a class="nav-link" aria-current="page" href="#">Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Items</a>
              </li> #}
              <!-- Dropdown -->
              <li class="nav-item dropdown">
                <a class="navbar-brand" href="#" id="navbarDropdownMenuLink" role="button"
                  data-mdb-toggle="dropdown" aria-expanded="false">
                  PROMO
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li>
                    <a class="dropdown-item" href="#">off -50%</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Gifts</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Code Promo 5€</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    
{% block script %}
<script>
 $(document).ready(function() {
  // Cacher tous les menus déroulants au chargement de la page
  $('.dropdown-menu').hide();

  // Ajouter un léger délai (en millisecondes) entre le survol et l'affichage du menu déroulant
  var hoverDelay = 200; // Par exemple, un délai de 200 ms

  var timeout;

  // Gérer le survol des éléments de menu avec un délai
  $('.nav-item.dropdown').hover(
    function() {
      var $menuItem = $(this);

      clearTimeout(timeout); // Effacer le délai précédent s'il existe

      timeout = setTimeout(function() {
        // Fermer tous les menus déroulants ouverts
        $('.nav-item.dropdown').removeClass('show');
        $('.dropdown-menu').hide();

        // Ouvrir le menu déroulant de l'élément survolé
        $menuItem.addClass('show');
        $menuItem.find('.dropdown-menu').show();
      }, hoverDelay);
    },
    function() {
      clearTimeout(timeout); // Effacer le délai précédent s'il existe

      var $menuItem = $(this);

      timeout = setTimeout(function() {
        // Fermer le menu déroulant lorsque le curseur quitte l'élément
        $menuItem.removeClass('show');
        $menuItem.find('.dropdown-menu').hide();
      }, hoverDelay);
    }
  );

  // Fermer tous les menus déroulants lorsque l'utilisateur clique ailleurs dans la page
  $(document).click(function(e) {
    var $target = $(e.target);
    if (!$target.is('.navbar-brand') && !$target.parents('.navbar-brand').length) {
      $('.dropdown-menu').hide();
    }
  });
});
</script>
{% endblock %}