{% extends 'base.html.twig' %}

{% block title %}{{product.name}}{% endblock %}



{% block content %}



    <div class="row product-container">
            <div class="col-md-5">
            <!-- Product Image --> 
                <div class="photo-gallery">
                {% if photos %}
                {% set has_illustration = false %}
                {% for photo in photos %}
                    {% if not has_illustration and photo.illustration %}
                        {# {% set has_illustration = true %} #}
                        <img src="/uploads/{{ photo.illustration }}" alt="{{ product.name }}" class="img-fluid">
                    {% endif %}
                {% endfor %}
                {% if not has_illustration %}
                    <img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid">
                {% endif %}
            {% else %}
                <img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid">
            {% endif %}
                </div>
            </div>
            <div class="col-md-7">
                    <h3>{{product.name}}</h3>
                    <p> {{product.subtitle}} | {{product.articleCode}}</p>

                     {# Afficher le formulaire pour les options du produit
                        {% if form is defined %}
                            <h2>Sélectionnez les Grains :</h2>
                            {{ form_start(form) }}
                            {% for field in form %}
                                <div class="form-group">
                                    {{ form_label(field) }}
                                    {{ form_widget(field, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            {% endfor %}
                            {{ form_end(form) }}
                        {% endif %} #}
                        <hr>
                        {% if verfie %}
                        {{form(form)}}
                        {% endif %}

                        {% if notification %}
                            <script>
                                document.addEventListener("DOMContentLoaded", function() {
                                    var notificationMessage = "{{ notification }}"; // Récupérez le message de notification depuis le contrôleur
                                    
                                    // Affichez la notification en JavaScript
                                    alert(notificationMessage);
                                });
                            </script>
                        {% endif %}













                    <span class="product-price-page">{{ (product.price / 100)|number_format(2, ',','.')}}€</span>
                    <hr>
                    <p>
                    {{product.description}}
                    </p>

                    {% if product.stock > 0 %}
                        <a href={{ path('add_to_cart', { 'id' : product.id }) }} class="btn btn-primary" > Ajouter au panier</a>
                    {% else %}
                    <p class="text-danger">Temporairement en rupture de stock</p>
                    {% endif %} 




 
                    {% if product.technique is not null %}
                    <a class="btn btn-primary"   href="{{ asset('uploads/technique/' ~ product.technique) }}" target="_blank" id="colortechnique">Voir la notice</a>
                    {% elseif product.lienExterne is not null %}
                    <a class="btn btn-primary"   href="{{product.lienExterne}}" target="_blank" id="colortechnique">Voir la notice</a>
                    {% else %}
                    <a class="btn btn-primary"   href="#"  id="colortechnique">Pas de notice</a>
                    {% endif %}




             </div>



             
    </div>
    <hr>
    <h3>Nos meilleures ventes</h3>
    <p>Découvrez les articles les plus vendus.</p>
    <div class="row">
        {% for product in products %}
            <div class="col-md-3">
                {% include 'product/single_product.html.twig' %}
            </div>
        {% endfor %}
    </div><!-- /.row -->
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://code.jquery.com/jquery-migrate-3.4.1.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>



{% endblock %}


{% block script %}
<script>
$('.photo-gallery').slick({
  dots: true,
  infinite: true,
  speed: 500,
  fade: true,
  cssEase: 'linear'
});
</script>
{% endblock %}
