{% extends 'base.html.twig' %}

{% block title %}{{product.name}}{% endblock %}



{% block content %}



    <div class="row product-container">
            <div class="col-md-5">
            <!-- Product Image --> 
                <div class="photo-gallery">
                {% if photos %}
                {% set has_illustration = false %}
                {% for photo in photos %}
                    {% if not has_illustration and photo.illustration %}
                        {# {% set has_illustration = true %} #}
                        <img src="/uploads/{{ photo.illustration }}" alt="{{ product.name }}" class="img-fluid">
                    {% endif %}
                {% endfor %}
                {% if not has_illustration %}
                    <img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid">
                {% endif %}
            {% else %}
                <img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid">
            {% endif %}
                </div>
            </div>
            <div class="col-md-7">
                    <h3>{{product.name}}</h3>
                    <p> {{product.subtitle}} | {{product.articleCode}}</p>

                     {# Afficher le formulaire pour les options du produit
                        {% if form is defined %}
                            <h2>Sélectionnez les Grains :</h2>
                            {{ form_start(form) }}
                            {% for field in form %}
                                <div class="form-group">
                                    {{ form_label(field) }}
                                    {{ form_widget(field, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            {% endfor %}
                            {{ form_end(form) }}
                        {% endif %} #}
                        <hr>
                        {% if verfie %}
                        {{form(form)}}
                        {% endif %}

                        {% if notification %}
                            <script>
                                document.addEventListener("DOMContentLoaded", function() {
                                    var notificationMessage = "{{ notification }}"; // Récupérez le message de notification depuis le contrôleur
                                    
                                    // Affichez la notification en JavaScript
                                    alert(notificationMessage);
                                });
                            </script>
                        {% endif %}


                    <span class="product-price-page">{{ (product.price / 100)|number_format(2, ',','.')}}€</span>
                    <hr>
                    <p>
                    {{product.description}}
                    </p>

                    {% if product.stock > 0 %}
                        <a href={{ path('add_to_cart', { 'id' : product.id }) }} class="btn btn-primary" > Ajouter au panier</a>
                    {% else %}
                    <p class="text-danger">Temporairement en rupture de stock</p>
                    {% endif %} 

                    {% if product.technique is not null %}
                    <a class="btn btn-primary"   href="{{ asset('uploads/technique/' ~ product.technique) }}" target="_blank" id="colortechnique">Voir la notice</a>
                    {% elseif product.lienExterne is not null %}
                    <a class="btn btn-primary"   href="{{product.lienExterne}}" target="_blank" id="colortechnique">Voir la notice</a>
                    {% else %}
                    <a class="btn btn-primary"   href="#"  id="colortechnique">Pas de notice</a>
                    {% endif %}
             </div>     
        </div>
                    {%  if product.lienYoutube %}
                    <h2>Vidéo du Produit</h2>
                    <div class="embed-responsive embed-responsive-16by9">
                        <embed width="420" height="315"src="https://www.youtube.com/embed/{{ product.lienYoutube }}">
                    </div>
                    {% endif %}
    <hr>
    <h3 style="font-size:36px; margin-block:42px; margin-top:10rem">
    <div class="three-body">
                            <div class="three-body__dot"></div>
                            <div class="three-body__dot"></div>
                            <div class="three-body__dot"></div>
                            </div>
    
    
    Autres produits de la gamme
    </h3>
    <div class="autoplay">
        {% for product in products %}
            <div class="col-md-3">
            
                {% include 'product/single_product.html.twig' %}
            </div>
        {% endfor %}
    </div>
        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
        <script src="https://code.jquery.com/jquery-migrate-3.4.1.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>


        <div style="overflow: hidden;">
                <svg
                    preserveAspectRatio="none"
                    viewBox="0 0 1200 120"
                    xmlns="http://www.w3.org/2000/svg"
                    style="fill: #ffffff; width: 162%; height: 165px;"
                >
                    <path
                    d="M0 0v46.29c47.79 22.2 103.59 32.17 158 28 70.36-5.37 136.33-33.31 206.8-37.5 73.84-4.36 147.54 16.88 218.2 35.26 69.27 18 138.3 24.88 209.4 13.08 36.15-6 69.85-17.84 104.45-29.34C989.49 25 1113-14.29 1200 52.47V0z"
                    opacity=".25"
                />
                    <path
                    d="M0 0v15.81c13 21.11 27.64 41.05 47.69 56.24C99.41 111.27 165 111 224.58 91.58c31.15-10.15 60.09-26.07 89.67-39.8 40.92-19 84.73-46 130.83-49.67 36.26-2.85 70.9 9.42 98.6 31.56 31.77 25.39 62.32 62 103.63 73 40.44 10.79 81.35-6.69 119.13-24.28s75.16-39 116.92-43.05c59.73-5.85 113.28 22.88 168.9 38.84 30.2 8.66 59 6.17 87.09-7.5 22.43-10.89 48-26.93 60.65-49.24V0z"
                    opacity=".5"
                    />
                    <path d="M0 0v5.63C149.93 59 314.09 71.32 475.83 42.57c43-7.64 84.23-20.12 127.61-26.46 59-8.63 112.48 12.24 165.56 35.4C827.93 77.22 886 95.24 951.2 90c86.53-7 172.46-45.71 248.8-84.81V0z" />
                </svg>
        </div>
{% endblock %}


{% block script %}
<script>
$('.photo-gallery').slick({
  dots: true,
  infinite: true,
  speed: 500,
  fade: true,
  cssEase: 'linear'
});

$('.autoplay').slick({
  slidesToShow: 4,
  slidesToScroll: 1,
  autoplay: true,
  autoplaySpeed: 2000,
});
</script>
{% endblock %}
