 <nav class="navbar navbar-expand-md navbar-dark bg-dark" >

        <a href={{ path('app_home')}} class="navbar-brand">
            <img src={{asset('assets/img/logo1.png')}} style="width: 250px; height: auto;" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
             <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <!-- Barre de recherche -->
                <form class="form-inline mt-2 mt-md-0" action={{ path('app_search_data') }} method="GET">
                    <input class="form-control mr-sm-2 " type="text" placeholder="Rechercher" aria-label="Search" name="q">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Rechercher</button>
                </form>
            </li>
        </ul>


            <div class="navbar-items">
            {% if app.user %}
            <a href={{ path('account')}}>Mon compte ({{app.user.firstname}})</a> | <a href={{ path('app_logout')}}>Déconnexion</a>
            {% else %}
            <a  href={{ path('app_login')}}>Connexion</a> | <a href={{ path('register')}}>Inscription</a>
            {% endif %}
            </div>
            <a href={{path('favoris')}}>
                <img src={{asset('assets/img/coeur.png')}} class="cart-icon" alt="Mes favoris">
            </a>
            <a href={{path('cart')}}>
                <img src={{asset('assets/img/shopping-cart.png')}} class="cart-icon" alt="Mon panier">
            </a>
            <a href={{path('contact')}}>
                <img src={{asset('assets/img/contact11.png')}} class="cart-icon" alt="contact">
            </a>
        </div>
    </nav>
    