  {# {% if block('search') is defined %} #}
            <div class="ma-form">
              {{ form_start(search) }}
              {{ form_widget(search.string) }}
              {{ form_errors(search.string) }} {# Display validation errors for the 'string' field #}

              {# <div class="input-group">
                  <div class="input-group-append">
                      <button type="submit" class="btn btn-outline-secondary" id="ma-search">
                          <img src="{{ asset('assets/img/chercher.png') }}" class="cart-icon" id="chercher" alt="Search Button">
                      </button>
                  </div>
              </div> #}

              {{ form_end(search) }}
                </div>
            {# {% endif %} #}
            